<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= todo.text %></title>
  </head>
  <body>
    <span id="currentTodoId" style="display: none"><%= todo.id %></span>
    <a href="/">Seznam výpis</a>

    <hr />

    <div id="todoDetail">
        <%- include('_todo.ejs') %>
    </div>

    <hr />

    <form action="/edit/<%= todo.id %>" method="post">
      <input type="text" name="text" value="<%= todo.text %>" />
      <button type="submit">Upravit ToDo!</button>
    </form>

    <script>
      const ws = new WebSocket('ws://localhost:3000');

      ws.addEventListener('message', (message) => {
        const messageData = JSON.parse(message.data)

        if (messageData.type === 'todoDetail' && messageData.todoId === Number(document.getElementById('currentTodoId').innerText)) {
          document.getElementById('todoDetail').innerHTML = messageData.html;
        }

        if(messageData.type === 'todoDeleted' && messageData.todoId === Number(document.getElementById('currentTodoId').innerText)){
          window.location = '/'
        }
      });
    </script>
  </body>
</html>
